body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #4CAF50;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.spacer {
  height: 18vh;
}

.fade-text {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
  font-size: 2.5rem;
  text-align: left;
  margin-left: 5%;
  margin-right: auto;
}

.fade-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-title {
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 2s ease-out;
  text-align: center;
  font-size: 5rem;
  margin-top: 60px;
}

#sun-cloud {
  position:absolute;
  border: none; 
  
  margin-top: -600px;
  margin-left: 80%;
  background:none;
}

#rain
{
  position: absolute;
  top: 540px;
  border: none;
  background: none;
  display: block;
  left: 60%; /* avvicina il canvas della pioggia a destra */
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4CAF50;
    z-index: 1000;
}
.fixed-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.fixed-nav li {
    margin: 0 15px;
}
.fixed-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 0;
    display: block;
}
