@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html {
    scroll-behavior: smooth;
    overflow: hidden;
}
.barra-navigazione-fissa {
    position: fixed;
    top: -90px;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: transform 330ms ease;
}
.barra-navigazione-fissa .logo-navigazione {
    margin-left: 30px;
    height: 60px;
    display: flex;
    align-items: center;
}
.barra-navigazione-fissa .logo-navigazione img {
    height: 60px;
    width: auto;
    display: block;
    transition: transform 0.2s ease;
}
.barra-navigazione-fissa ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 400px;
    flex: 1;
}
.barra-navigazione-fissa li {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    color: rgb(0, 0, 0);
}
.barra-navigazione-fissa a {
    color: rgb(0, 0, 0);
    text-decoration: bold;
    padding: 15px 0;
    display: block;
    transition: transform 0.2s ease;
}
.barra-navigazione-fissa a:hover, .barra-navigazione-fissa .logo-navigazione:hover img {
    transform: scale(1.15);
}

#reset{
    color: rgb(255, 0, 0);
}

#tendina{
    height: 80px;
    width: 80px;
}

#tendina-button{
    background: none;
    border: none;
    height: 80px;
    width: 80px;
    position: absolute;
    left: 90%;
    top: -3%;
    transition: transform 330ms ease;
}

body{
    background-image: url("../Imgs/SfondoMemory.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cards{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    border: medium solid black;
    transition: transform 0.6s ease;
}

.immagine{
    width: 190px;
    height: 190px;
    margin-left: 5px;
    margin-top: 5px;
}

#containerCarte{
    position: absolute;
    display: none;
}

#titoloPagina{
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 37%;
    color: rgb(2, 95, 2);
    text-shadow: 5px 5px black;
    width: fit-content;
    transition: transform 330ms ease;
}

#containerSacchetto{
    margin-top: -60px;
    margin-left: 25%;
    width: 800px;
    height: 800px;
    background-image: url("../Imgs/Sacchetto.png");
    background-repeat: no-repeat;
    background-size: contain;

    display: block;
}

#titoloStart{
    position: absolute;
    fill: rgba(92, 184, 92, 0.759);
    font-family: 'Luckiest guy', cursive;;
    text-shadow: 2px 2px black;
    margin-top: 290px;
    margin-left: 260px;
    font-size: 28px;
}

#buttonStart{
    position: absolute;
    width: 200px;
    height: 100px;
    font-size: 22px;
    background: none;
    border: none;
    background-image: url("../Imgs/ToppaBottone.png");
    background-repeat: no-repeat;
    background-size: 160px 60px;
    background-position:center;
    color: rgb(215, 191, 147);
    margin-top: 600px;
    margin-left: -385px;
    transition: transform 330ms ease;
}

#containerVaso{
    display: none;

    margin-top: -60px;
    margin-left: 27%;
    width: 770px;
    height: 770px;
    background-image: url("../Imgs/Vaso.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#titoloPunti{
    position: absolute;
    color: rgba(249, 233, 11, 0.759);
    font-family: 'Luckiest guy', cursive;;
    text-shadow: 2px 2px black;
    margin-top: 190px;
    margin-left: 200px;
    font-size: 46px;
}

#punteggioEffettuato{
    position: absolute;
    color: rgba(107, 167, 4, 0.918);
    font-family: 'Luckiest guy', cursive;;
    text-shadow: 2px 2px black;
    margin-top: 420px;
    margin-left: 280px;
    font-size: 40px;
}

#retryButton{
    position: absolute;
    width: 200px;
    height: 100px;
    rotate: 105deg;
    background: none;
    border: none;
    background-image: url("../Imgs/Crepa.jpg");
    background-repeat: no-repeat;
    background-size: 160px 60px;
    margin-top: 500px;
    margin-left: 475px;
}

#saveButton{
    position: absolute;
    margin-top: 680px;
    margin-left: 200px;
    font-size: 22px;
    border-radius: 10px;
    background-color: rgb(160, 92, 19);
}

#saveLink{
    color: rgb(0, 0, 0);
    text-decoration: none;
}